#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-2 .navbar-toggler {
  color: #000;
}
#ext_menu-4 .navbar-toggler {
  color: #000;
}
#ext_menu-6 .navbar-toggler {
  color: #000;
}
#ext_menu-8 .navbar-toggler {
  color: #000;
}
